NEXT_PUBLIC_MEDIATOR_URL=http://localhost:8080
NEXT_PUBLIC_CLOUD_AGENT_URL=http://localhost:8000/cloud-agent
CLOUD_AGENT_URL=http://localhost:8000/cloud-agent
CLOUD_AGENT_SCHEMA_BASE_URL=http://host.docker.internal:8000/cloud-agent
CLOUD_AGENT_API_KEY=
FLIGHTTIX_CLOUD_AGENT_LABEL=FlightTixTS-CloudAgent
FLIGHTTIX_PASSPORT_SCHEMA_ID=https://identusbook.com/flighttix-passport-1.0.0
FLIGHTTIX_TICKET_SCHEMA_ID=https://identusbook.com/flighttix-ticket-1.0.0
FLIGHTTIX_WALLET_DB_NAME=flighttix-wallet
